<div>
  <div class="custom-card scoreboard">
    <div>
      <p><i class="bi bi-check-lg scoreboard__hits"></i> Hits: {{ success }}</p>
      <p><i class="bi bi-x-lg scoreboard__misses"></i> Misses: {{ errors }}</p>
    </div>
    <button class="btn btn-outline-primary my-auto" (click)="onNewGame()">
      New Board
    </button>
  </div>
  <div class="custom-card board">
    <div
      [id]="'card-' + animalData.id"
      class="board__card-container"
      *ngFor="let animalData of animalsImageData"
      (click)="onSelectCard(animalData.id)"
    >
      <div class="board__card">
        <img [src]="animalData.url" [alt]="'animal-image'" />
      </div>
      <div class="board__card-cover">
        <i class="bi bi-question-lg"></i>
      </div>
    </div>
  </div>
</div>
