.toolbar {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  height: calc(100% - 60px);
}

.form-container {
  height: auto;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  margin-top: 10%;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.content-container {
  width: 80%;
  height: auto;
  margin: auto;
  margin-top: 2%;
}

@media only screen and (max-width: 600px) {
  .form-container {
    width: 90%;
  }
} ;
