.toolbar {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  height: calc(100% - 60px);
}

.form-container {
  height: auto;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 10%;
}

.content-container {
  width: 80%;
  height: auto;
  margin: auto;
  margin-top: 2%;
}

@media only screen and (max-width: 576px) {
  .form-container {
    width: 90%;
  }
}

@media only screen and (min-width: 576px) {
  .form-container {
    width: 80%;
  }
}

@media only screen and (min-width: 992px) {
  .form-container {
    width: 60%;
  }
}

@media only screen and (min-width: 1200px) {
  .form-container {
    width: 50%;
  }
}
