<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="container">
    <span>MEMORY GAME</span>
    <div *ngIf="username" class="float-end">
      <i class="bi bi-person-circle"></i> {{ username | titlecase }}
    </div>
  </div>
</div>

<div class="content" role="main">
  <div *ngIf="!username" class="custom-card form-container">
    <app-form (username)="onSetUsername($event)"></app-form>
  </div>

  <div *ngIf="username" class="content-container">
    <app-board
      [imagesData]="imagesData"
      (modalOpen)="modalOpenEvent()"
    ></app-board>
  </div>
</div>

<app-modal [modalOpen]="modalOpen" [username]="username"></app-modal>
