/* You can add global styles to this file, and also import other style files */

body {
  font-family: "Roboto Condensed", sans-serif;
  height: 100vh;
}

p {
  margin: 0;
}

.custom-card {
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
